nav#navbar.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container.navstyle
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
            a.nav-link.navbar-brand(href='/#')
                img(src="/SVGs/logo.svg", width="160", height="48")
        .collapse.navbar-collapse
            div.nav.navbar-left.hidden-xs.hidden-sm
                p updated: 03/26/2015
            ul.nav.navbar-right.navbar-nav
                - var modules = [{page: 'components', title: 'COMPONENTS', menu: [{page: 'SPACERS', title: 'SPACERS'},{page: 'AMIRA', title: 'ARMIRA SEATCLAMP'},{page: 'DHclamp', title: 'DH SEATCLAMP'},{page: 'PITADORA', title: 'PITADORA STEM'}]},{page: 'lifestyle', title: 'LIFESTYLE'},{page: 'dealers', title: 'DEALERS'},{page: 'aboutus', title: 'ABOUT US'}]
                each module in modules
                    if module.menu
                        li.pict(class=module.page+((selection == module.page) ? 'A' : ''))
                            a.nav-link(href='/' + module.page, role="button", aria-expanded="false")
                                span #{module.title}
                            ul.dropdown-menu(role="menu")
                                each item in module.menu
                                    li.itemMenu
                                        a.nav-link(href='/' + module.page +  '#' + item.page) #{item.title}
                    else
                        li.pict(class=module.page+((selection == module.page) ? 'A' : ''))
                            a.nav-link(href='/' + module.page) #{module.title}